{% extends "base.html" %}

{% block page %}Current Data{% endblock %}

{% block style %}data{% endblock %}

{% block title %}Data{% endblock %}

{% block content %}
  <div class="data">
    <div id="heading" class="list-item head">
      <h3>DATE</h3>
      <h3>HOUR</h3>
      <h3>Number of Patients</h3>
      <h3>Nurses Needed</h3>
      <h3 id="nurseNum">Target Number of Nurses</h3>
    </div>
    <div class="data">

      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close-modal">&times;</span>
          <div class="com-info">
            <h4 id="com-info"></h4>
          </div>
          <p id="com-title"><strong>Comment(s) - </strong></p>
          <p id="commentText"></p>
        </div>
      </div>

  {% if data %}
    {% for x in data %}
      {% if x %}
      <div class="list-item" data-comment="{{ x[-1] }}" data-date="{{ x[0] }}" data-hour="{{ x[1] }}" data-patients="{{ x[2] }}">
        {% for el in x[:-1] %}
        <div class="element">
          <p>{{ el }}</p>
        </div>
        {% endfor %}
        <div class="element">
          <p class="nursesNeeded">00</p>
        </div>
        <div class="element target-nurses">
          <p class="targetNurses">00</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  {% else %}
    <h1>No Available Data</h1>
  {% endif %}
  </div>
  <script src="{{ url_for('static', filename='data.js') }}"></script>
{% endblock %}
