{% extends "base.html" %}

{% block page %}Staffing Guidance Calculator{% endblock %}

{% block style %}style{% endblock %}

{% block content %}
  <div class="contain">
    <form>
      <input type="date">
      <div class="info">
        <input type="number" placeholder="Number of Patients">
        <div class="arrows">
          <svg class="svgl" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m19 12l12 12l-12 12"/></svg>
          <svg class="svgr" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m19 12l12 12l-12 12"/></svg>
        </div>
        <div id="nurses" class="span-cont">
          <span>Nurses Needed</span>
        </div>
      </div>
      <div class="info">
        <input type="number" min="1" max="24" placeholder="Hour of Day (1-24)">
        <div class="arrows">
          <svg class="svgl" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m19 12l12 12l-12 12"/></svg>
          <svg class="svgr" width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m19 12l12 12l-12 12"/></svg>
        </div>
        <div id="target" class="span-cont">
          <span>Target Number of Nurses</span>
        </div>
      </div>
      <textarea placeholder="Comments"></textarea>
    </form>
    <button id="subbtn" type="submit">Submit</button>
  </div>
{% endblock %}

